<aside class="aside">
  <div class="brand">
    <div class="title">به داشبورد خود خوش آمدید</div>
  </div>
  <nav class="nav" id="nav">
    <a data-page="index" href="./index.html">صفحه اصلی</a>
    <a data-page="products" href="./products.html">محصولات</a>
    <a data-page="comments" href="./comments.html">کامنت‌ها</a>
    <a data-page="users" href="./users.html">کاربران</a>
    <a data-page="orders" href="./orders.html">سفارشات</a>
    <a data-page="offs" href="./offs.html">تخفیف‌ها</a>
  </nav>
</aside>
